{% module Template("header.html") %}
    
    <div class="jumbotron">
    
      <h1>About JSParser</h1>
      
      <h2>Version: 1.0</h2>
      
      <p>Created by Brett Buerhaus (<a href="https://twitter.com/bbuerhaus">@bbuerhaus</a>) and Ben Sadeghipour (<a href="https://twitter.com/nahamsec">@nahamsec</a>).</p>
      
      <p>Inspired by a tool created by Jobert Abma (<a href="https://twitter.com/jobertabma/">@jobertabma</a>).</p>
      
      <h2>References</h2>
      
      <ul>
        <li><a href="http://buer.haus/2017/03/31/airbnb-web-to-app-phone-notification-idor-to-view-everyones-airbnb-messages/">http://buer.haus/2017/03/31/airbnb-web-to-app-phone-notification-idor-to-view-everyones-airbnb-messages/</a></li>
        <li><a href="http://buer.haus/2017/03/09/airbnb-chaining-third-party-open-redirect-into-server-side-request-forgery-ssrf-via-liveperson-chat/">http://buer.haus/2017/03/09/airbnb-chaining-third-party-open-redirect-into-server-side-request-forgery-ssrf-via-liveperson-chat/</a></li>
      </ul>
      
    </div>
    
{% module Template("footer.html") %}
