{% module Template("header.html") %}

<h1>JSParser</h1>
<p>A python 2.7 script using Tornado and JSBeautifier to parse relative URLs from JavaScript files. Useful for easily discovering AJAX requests when performing security research or bug bounty hunting.</p>
<h1><a id="Dependencies_4"></a>Dependencies</h1>
<ul>
   <li>safeurl</li>
   <li>tornado</li>
   <li>jsbeautifier</li>
</ul>
<h1><a id="Installing_10"></a>Installing</h1>
<pre><code>$ python setup.py install
</code></pre>
<h1><a id="Running_16"></a>Running</h1>
<p>Run <code>handler.py</code> and then visit <a href="http://localhost:8008">http://localhost:8008</a>.</p>
<pre><code>$ python handler.py
</code></pre
<h1><a id="Changelog_38"></a>Changelog</h1>
<p>1.0 - Release</p>

{% module Template("footer.html") %}
